---
interface Props {
  href?: string;
  tekst: string;
  farve: string;
  tekstFarve: string;
  hoverFarve?: string;
}
const { href, tekst, farve, tekstFarve, hoverFarve } = Astro.props;
---

<a class=`button_wrapper stroke dropShadow ${farve} ${hoverFarve}` id="buttonId" href={href}>
  <button class=`quote-button ${tekstFarve}`>{tekst}</button>
</a>
<img src="/arrow-right.svg" alt="Billede af pil til højre" class="button-icon hide" id="arrow_icon" />

<!--
<div
  class=`button_wrapper stroke dropShadow ${farve} ${hoverFarve}`
  id="buttonId"
>
  <a href={href}>
    <button class=`quote-button ${tekstFarve}`>{tekst}</button>
  </a>
  <img src="/arrow-right.svg" alt="" class="button-icon hide" id="arrow_icon" />
</div> -->

<style>
  button {
    all: unset;
  }
  .button_wrapper {
    all: unset;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
  }

  .quote-button {
    color: var(--secondary-color);
    cursor: pointer;
  }

  .button_wrapper:hover,
  .button_wrapper:focus {
    background-color: #f04333;
    transition: 0.3s ease-in-out all;
  }

  .roed {
    background-color: var(--accent-color);
  }

  .sort {
    background-color: var(--primary-color);
  }

  .sortTekst {
    color: var(--primary-color);
  }

  .roed:hover {
    background-color: #f04333;
    transition: 0.3s ease-in-out all;
  }

  .sort:hover {
    background-color: #3d3c3c;
    transition: 0.3s ease-in-out all;
  }

  .sortTekst {
    color: var(--primary-color);
  }

  .hvidTekst {
    color: var(--secondary-color);
  }

  @media (min-width: 768px) {
    .button_wrapper {
      max-width: fit-content;
      min-width: 180px;
    }
  }
</style>
